/*html {
  background-color: red;
}*/

body {
	color: #000080;
	background-color: #ffffff;
}

a {
	color: #800080;
}

a:visited {
	color: #ff0000;
}

header {
	font-weight: bold;
	text-align: center;
}

.bh {
	font-size: 1.7em;
}

#inc {
	font-size: .8em;
}

#title {
	font-size: 1.5em;
}

#address {
	font-size: .8em;
}

#ohp {
	font-size: 1em;
}

/*section {
	border-top: 1px solid #aaaaaa;
	margin-top: 15px;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 15px;
}*/

#geico {
	text-align:center;
	font-size: .6em;
}

.linebreaks {
	border-top: 1px solid #aaaaaa;
	margin-top: 15px;
	border-bottom: 1px solid #aaaaaa;
	margin-bottom: 15px;
}

p.linebreaks {
	font-size: .8em;
	padding: 15px;
}

#copyright {
	font-size: .6em;
}

p span {
	font-weight: bold;
}